{{ header }}
<div class="title main_title">
    <h1>Каталог предприятий</h1>
    <p>полиграфических товаров и услуг</p>
</div>
<div class="container">
    <section>
        <ul class="products_services row_flex">
            <li>
                <a href="#">
                    <div><img src="/image/catalog/products-services/icon1.png" alt=""></div>
                    <p>Продукция</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div><img src="/image/catalog/products-services/icon2.png" alt=""></div>
                    <p>Услуга</p>
                </a>
            </li>
        </ul>
        <div class="product_types">
            <h2>Приоритетные типы продукции</h2>
            <ul>
                <li>
                    <a href="#">
                        <div class="icon"><img src="images/product-types/icon1.jpg" alt=""></div>
                        <p>Брошюра</p>
                    </a>
                    <div class="hover">
                        <a href="#">
                            <ul>
                                <li>Плейсметы</li>
                                <li>Плейсметы</li>
                                <li>Плейсметы</li>
                                <li>Подложки на подносы</li>
                            </ul>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <div class="icon"><img src="images/product-types/icon2.jpg" alt=""></div>
                        <p>Газета</p>
                    </a>
                    <div class="hover">
                        <a href="#">
                            <ul>
                                <li>Плейсметы</li>
                                <li>Плейсметы</li>
                                <li>Плейсметы</li>
                                <li>Подложки на подносы</li>
                            </ul>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <div class="icon"><img src="images/product-types/icon3.jpg" alt=""></div>
                        <p>Листовки</p>
                    </a>
                    <div class="hover">
                        <a href="#">
                            <ul>
                                <li>Плейсметы</li>
                                <li>Плейсметы</li>
                                <li>Плейсметы</li>
                                <li>Подложки на подносы</li>
                            </ul>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <div class="icon"><img src="images/product-types/icon4.jpg" alt=""></div>
                        <p>Журналы</p>
                    </a>
                    <div class="hover">
                        <a href="#">
                            <ul>
                                <li>Плейсметы</li>
                                <li>Плейсметы</li>
                                <li>Плейсметы</li>
                                <li>Подложки на подносы</li>
                            </ul>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <div class="icon"><img src="images/product-types/icon5.jpg" alt=""></div>
                        <p>Листовки<br>на подносы</p>
                    </a>
                    <div class="hover">
                        <a href="#">
                            <ul>
                                <li>Плейсметы</li>
                                <li>Плейсметы</li>
                                <li>Плейсметы</li>
                                <li>Подложки на подносы</li>
                            </ul>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <div class="icon"><img src="images/product-types/icon6.jpg" alt=""></div>
                        <p>Бумажные линейки</p>
                    </a>
                    <div class="hover">
                        <a href="#">
                            <ul>
                                <li>Плейсметы</li>
                                <li>Плейсметы</li>
                                <li>Плейсметы</li>
                                <li>Подложки на подносы</li>
                            </ul>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="reviews_block row_flex">
            <div class="reviews_item">
                <div class="wrapp">
                    <div>
                        <h3>Отзывы</h3>
                        <a href="#">Посмотреть все отзывы</a>
                    </div>
                </div>
            </div>
            <div class="reviews_slider_wrap">
                <div class="reviews_slider owl-carousel">
                    <div class="item">
                        <div>
                            <h3>Галина иванова</h3>
                            <span>18.07.2017</span>
                        </div>
                        <p>Satom.ru – это портал для бизнеса в интернете. На его платформе каждый может без труда и в самый короткий срок создать как сайт-визитку, так и продающий интернет-магазин. На страницах</p>
                    </div>
                    <div class="item">
                        <div>
                            <h3>Галина иванова</h3>
                            <span>18.07.2017</span>
                        </div>
                        <p>Satom.ru – это портал для бизнеса в интернете. На его платформе каждый может без труда и в самый короткий срок создать как сайт-визитку, так и продающий интернет-магазин. На страницах</p>
                    </div>
                    <div class="item">
                        <div>
                            <h3>Галина иванова</h3>
                            <span>18.07.2017</span>
                        </div>
                        <p>Satom.ru – это портал для бизнеса в интернете. На его платформе каждый может без труда и в самый короткий срок создать как сайт-визитку, так и продающий интернет-магазин. На страницах</p>
                    </div>
                    <div class="item">
                        <div>
                            <h3>Галина иванова</h3>
                            <span>18.07.2017</span>
                        </div>
                        <p>Satom.ru – это портал для бизнеса в интернете. На его платформе каждый может без труда и в самый короткий срок создать как сайт-визитку, так и продающий интернет-магазин. На страницах</p>
                    </div>
                    <div class="item">
                        <div>
                            <h3>Галина иванова</h3>
                            <span>18.07.2017</span>
                        </div>
                        <p>Satom.ru – это портал для бизнеса в интернете. На его платформе каждый может без труда и в самый короткий срок создать как сайт-визитку, так и продающий интернет-магазин. На страницах</p>
                    </div>
                    <div class="item">
                        <div>
                            <h3>Галина иванова</h3>
                            <span>18.07.2017</span>
                        </div>
                        <p>Satom.ru – это портал для бизнеса в интернете. На его платформе каждый может без труда и в самый короткий срок создать как сайт-визитку, так и продающий интернет-магазин. На страницах</p>
                    </div>
                </div>
            </div>
        </div>
        {{ enterprises_ratings }}
        {{ content_bottom }}
    </section>
</div>
{{ content_top }}
{{ footer }}