{{ header }}
<div class="title main_title">
    <h1>Каталог предприятий</h1>
    <p>полиграфических товаров и услуг</p>
</div>
<div class="container">
    <section>
        {{ home_menu }}
        {{ content_top }}
        {{ enterprises_ratings }}
        {{ content_bottom }}
    </section>
</div>
{{ footer }}