<div class="nav">
    <div class="head_nav">
      <div><img src="/image/catalog/products-services/icon-head-nav.png" alt=""></div>
      <h3>{{ category_top.name }}</h3>
    </div>
    <ul>
      {% for category in categories %}
      <li>
        <a href="{{ category.href }}">
          <div><span><img src="{{ category.image }}" alt="{{ category.name }}"></span></div>
          <p>{{ category.name }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
</div>