{{ header }}
<div class="title">
    <section>
        <h1>{{ heading_title }}</h1>
        <div class="bread-crumbs">
            <ul>
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
            </ul>
        </div>
    </section>
</div>
<div id="product-product" class="container">
  <section>
      <div class="content">
          <div class="company_card">
              <div class="row_flex">
                <div class="img"><img src="{{ thumb }}" alt="{{ heading_title }}"></div>
                    <div class="text">
                      <h3>{{ heading_title }}</h3>
                        <div class="icon">{{ reviews }}</div>
                        <div class="rating">
                            <span>{{ rating }}</span>
                            <ul>
                              {% for i in 0..ceil if i < ceil %}
                              <li><a href="#"></a></li>
                              {% endfor %}
                            </ul>
                       </div>
                    </div>
                </div>
                <p>{{ description }}</p>
            </div>
            {{ content_top }}
        </div>
      {{ enterprises_ratings }}
      {{ content_bottom }}
    </section>
</div>
{{ footer }}
