{{ header }}
{{ content_top }}
<div class="title">
    <section>
        <h1>{{ heading_title }}</h1>
        <div class="bread-crumbs">
            <ul>
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
            </ul>
        </div>
    </section>
</div>
<div class="container">
  <section>
    <div class="high_ratings">
      {% if products %}
      <ul>
        {% for product in products %}
        <li>
        <a href="{{ product.href }}">
          <div class="img"><img src="{{ product.image }}" alt="{{ product.name }}"></div>
          <div class="text_wrap">
            <div class="col">
              <div>
                <h3>{{ product.name }}</h3>
                <div class="row_flex">
                  <p>{{ product.review }} отзывов</p>
                  <div>
                    <span>{{ product.rating }}</span>
                    <ul>
                      {% for i in 0..product.ceil if i < product.ceil %}
                      <li><a href="#"></a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>Ничего не найдено!</p>
      {% endif %}
    </div>
    {{ content_bottom }}
  </section>
</div>
{{ footer }}