{% if ratings %}
{% for rating in ratings %}
<li>
<a href="{{ rating.href }}">
	<div class="img"><img src="{{ rating.image }}" alt="{{ rating.name }}"></div>
	<div class="text_wrap">
		<div class="col">
			<div>
				<h3>{{ rating.name }}</h3>
				<div class="row_flex">
					<p>{{ rating.review }} отзывов</p>
					<div>
						<span>{{ rating.rating }}</span>
						<ul>
			            {% for i in 0..rating.ceil if i < rating.ceil %}
			            <li><a href="#"></a></li>
			            {% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</a>
</li>
{% endfor %}
{% endif %}